<div class="bg-dark fs-1 text-center fw-bold p-2 d-flex justify-content-between text-capitalize ">
    <span class="d-block">livraison de commandes</span>
    <!-- <button class="btn btn-primary px-5"></button> -->

    <span class="px-1 mx-1 fs-1 text-center bg-black text-warning  align-middle">{{nombreSelectionne() +' sélection'+((nombreSelectionne()>1)?'s':'')}}
    </span>

    <button type="button" [disabled]="!doesHeCheckAnOrderer()" class="btn btn-primary ms-auto px-5 pe-0 fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Sélectionner un livreur
    </button>

    <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog   mt-5">
            <div class="modal-content bg-black  mt-5">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body w-100">
                    <select class="form-control" #selectLivreur (input)="isSelectLivreur(selectLivreur);idLivreurSelectionne(selectLivreur)" name="" id="">
                        <option value="" selected disabled>-- Veillez selectionnez une livreur --</option>
                        <option class="form-control" value="{{livreur.id}}" *ngFor="let livreur of livreursDisponibles">
                            {{livreur.prenom+' '+livreur.nom}}
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
                    <button type="button" class="btn btn-primary" (click)="livrerCommande(selectLivreur)" [disabled]="disableLivrer(selectLivreur)">Livrer</button>
                </div>
            </div>
        </div>
    </div>
</div>


















<div class="d-flex">
    <span class="btn btn-danger">zones:</span>

    <select class="form-control  bg-gradient" name="" id="" (input)="OnDeSelection()" [(ngModel)]="selectZone">
        <option value="" selected disabled>--Veiller sélectionner une zone</option>
        <option class="text-center fs-1 d-flex flex-row justify-content-between" value="{{zone.id}}"
            *ngFor="let zone of zonesTermines">
            <span class=" px-5">
                {{zone.nom}} ------>
            </span>
            <span class="px-5">
                {{nombreCommandesD1Zone(zone)}}
                commandes
                concernée(s)
            </span>

        </option>
    </select>

</div>

<div class="mt-5">
    <table class="col  table table-hover d-flex flex-column justify-content-center ">
        <thead>
            <tr class="row bg-warning  py-2">
                <th class="col-1 ">#</th>
                <th class="col-2">Staut Commande</th>
                <th class="col-1">Prix Total</th>
                <th class="col-2">Date de commande</th>
                <th class="col-2">Zone</th>
                <th class="col-2">Client</th>
                <th class="col text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <app-row-delivering class="m-3 " *ngFor="let commande of commandesTermines|filtrerZone:selectZone;let i=index " [i]="i " [commande]="commande"></app-row-delivering>
        </tbody>
    </table>
</div>