<div class="container text-center text-capitalize bg-warning p-3 fs-1 text-black fw-bold">
    <h1>les Commandes des clients</h1>
    <!-- <input class="myInputDate form-control bg-warning  p-3" style="text-indent: 10px;" type="date" name="search" [(ngModel)]="searchDate" autocomplete="off" placeholder="Rechercher"> -->

</div>

<div class=" bg-gradient  border border-3 mt-3 p-3 row">


    <table class="col  table table-hover d-flex flex-column justify-content-center ">
        <thead>
            <tr class="row bg-warning  py-2">
                <th class="col-1 ">#</th>
                <th class="col-2">Staut Commande</th>
                <th class="col-1">Prix Total</th>
                <th class="col-1">Date de commande</th>
                <th class="col-2">Zone de livraison</th>
                <th class="col-2">Client</th>
                <th class="col-2 text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <app-row-commande class="m-3 " *ngFor="let commande of tableauDesCommandes;let i=index " [i]="i " [commande]="commande"></app-row-commande>

            <!-- <app-row-commande class="m-3 " *ngFor="let commande of tableauDesCommandes|dateFilte:searchDate;let i=index " [i]="i " [commande]="commande"></app-row-commande> -->
        </tbody>
    </table>

    <div class="bg-body p-3 text-center">
        <!-- Aucun client n'effectué de commandes la date du {{convertToDate(searchDate)|date}} -->
    </div>
</div>